@CHARSET "ISO-8859-1";
body, html {
	margin:0;
	padding:0;
	color:#000;
	background:white;
	
}

body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

/* ------------ layout -------------------*/
#wrap {
width:1000px;
margin:0 auto;
background:#99c;
}
#header {
background:#ddd;
}
#nav {
background:#c99;
}
#main {
background:#9c9;
float:left;
width:800px;
}
#sidebar {
background:#c9c;
float:right;
width:200px;
}
#footer {
background:#cc9;
clear:both;
}



/* ------------------------Wrapper for most screens ---------*
.mostWrapper{
margin:0 auto;
width:1000px;
padding:14px;
}







/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:400px;
padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
top: 30%;
margin-top: 10%;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 0px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
display:block;
font-size:12px;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input, .dijitTextBox .dijitInputInner, dijitTextBox .dijitInputField {
float:left;
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
padding:2px 2px;
border:solid 1px #aacfe4;
margin:2px 2 2px 1px;
}	


/* #stylized button{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
text-align:center;
color:#FFFFFF;
background-color: #616D7E;
font-size:11px;
font-weight:bold;
}
 */
.loginFormTable {
width: 90%;
border: 1px;
}

caption {	
	font-family: Georgia, "Times New Roman", Times, serif;
	border-bottom:solid 1px #b7ddf2;
	font-size:14px;
	font-weight:bold;
}

.formErrors {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
}
.formValidationError {
	padding:2px 4px;
margin:0px;
border:solid 1px #FBD3C6;
background:#FDE4E1;
color:#CB4721;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:lighter;
text-align:center;
	
}


table {
	border-bottom: 3px solid #B2B2B2; margin: 0 0 2em;
}
caption {
  padding: 0.75em; font: 1.5em Georgia, Times, serif;
  border: 1px solid #B2B2B2; border-width: 1px 0 2px;
  background: #EEE;
 }
 
.oddRow {
	background: #EEE;
} 
th, td {padding: 0.5em 1em;
  border: 1px solid #CCC;
  border-width: 0 1px 1px 1px;}
/*
th.first, td.first, tbody th {border-left: none;}
*/
thead th {text-transform: uppercase; text-align: left;}
tbody th {}
tfoot {display: none;}

#dash_left_top {
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	width: 600px;
}

#dash_right_top {
	float: left;
	width: 400px;
}

#dlt, #drt {
	width: 600px;
	table-layout: fixed;
}

#dashboard_layout_table {
	width: 95%;
}


/* My tinytables created for the dashboard tables */
.mytinytable {
	width:95%;
}
.mytinytable th {
	background:url(../images/header-bg.gif); 
	text-align:left; 
	color:#cfdce7; 
	border:1px solid #fff; 
	border-right:none;
}

tr.striped {
        background-color: #E6E0F8;
      }
      
span.top_nav_menuitem:hover {
	text-align: center;	
	background: yellow;
}

.tooltip {
			border-bottom: 1px dotted #000000; color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
		}

		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}

		.tooltip:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 1em; top: 2em; z-index: 99;
			margin-left: 0; width: 250px;
		}

		.tooltip:hover img {
			border: 0; margin: -10px 0 0 -55px;
			float: left; position: absolute;
		}

		.tooltip:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}

		.classic { padding: 0.8em 1em; }
		.custom { padding: 0.5em 0.8em 0.8em 2em; }
		* html a:hover { background: transparent; }
		.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
		.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
		.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

.activity_info {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-style: italic;
	display: block; padding: 0.01em 0 0.1em 0;
}

#create_lead_table {
	margin-right: 15%;
	margin-left: 15%;

	width: 70%;
}

#create_lead_table td.label {
	border-left: 0px;
	border-bottom: 0px;
	text-align: right;
	/*font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;*/
	font-family: "Garamond";
	font-size:14px;
}

#create_lead_table td.formField {
	border-right: 0px;
	border-bottom: 0px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
}

.loginFormTableCells {
	border: 0px;	
}
.createLeadMenuItem {
	background:url(../images/companies.png);	
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
}

.dijitEditorIconCut {
	background:url(../images/companies.png);
} 

/***************** Testing...testing...testing...1...2...3...*/
.labelt1 {
	border-width: 1px;
	border-color: red;
}

