body, html {
	font-family: "segoe ui", "Consolas", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin: 0;
	padding: 0;
	color: #000;
	background: white;	
}

td, input {
	font-family: "segoe ui", "Consolas", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin: 3px;
	padding: 3px;	
}

#form_container {
	 position:absolute;
     width:700px;
     height:300px;
     top:30%;
     left:30%;
}